<turbo-frame id="data-frame">
    <div data-controller="animate">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.albumTitle }}</td>
                    <td>{{ song.genre }}</td>
                    <td>{{ song.likes }}</td>
{#                    <td>{{ song.prevBtn }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {% for i in 1..5 %}
                <a href="{{ path('home_content', app.request.query.all | merge({'page': i})) }}"
                   class="btn btn-sm {% if i == page %}btn-primary{% else %}btn-outline-primary{% endif %}"
                   data-turbo-frame="data-frame">
                    {{ i }}
                </a>
            {% endfor %}
        </div>
    </div>
</turbo-frame>
